/* ROOT VARAIBLES */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(0, 52, 85);
    --color-secondary: rgb(184, 124, 80);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(0, 52, 82, 0.1);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;
    --marging-1: 1rem;
    --marging-2: 2rem;

    --card-border-radius: 1rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

.wrapper {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.container {
    display: grid;
    width: 100%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 23rem auto;
    overflow-y: auto;
}

.container::-webkit-scrollbar-thumb:active {
    background-color: var(--color-primary);
}

/* LOGIN */
.login-form,
.set-new-password-form {
    margin: 0;
    height: 100vh;
    display: grid;
}

.login-form .input-container,
.set-new-password-form .input-container {
    margin-bottom: 2rem;
}

.login-form .container,
.set-new-password-form .container {
    width: 40rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}

.login-form .btn,
.set-new-password-form .btn {
    width: 100%;
}

/* NAV BAR */
header .wrapper {
    width: 95%;
}

header img.logo {
    width: 30rem;
}

.profile-area button {
    display: none;
}

ul.user-show,
ul.bookshop-show {
    display: none;
}

ul.user-show.first,
ul.bookshop-show.second {
    display: block;
}


main {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.8rem;
    /* margin-top: 2rem; */
    height: 85vh;
    overflow-y: auto;
}

main.login-form,
main.set-new-password-form {
    margin-top: 10px;
    padding: 0;
}


main.two-columns {
    grid-template-columns: 3fr 1fr;
}

main .insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .insights>div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
}

main .insights>div i {
    display: inline-block;
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}

main .insights>div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insights h4 {
    margin: 1rem 0 0.6rem;
    /* font-size: 1rem; */
}

main .insights .progress {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .insights svg {
    width: 7rem;
    height: 7rem;
}

main .insights svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}

main .insights .sales svg circle {
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .insights .expenses svg circle {
    stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insights .income svg circle {
    stroke-dashoffset: 35;
    stroke-dasharray: 110;
}

main .insights .progress .number {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .insights small {
    margin-top: 1.6rem;
    display: block;
}

/* Recent Orders */
main .recent-orders {
    margin-top: 2rem;
}


main .recent-orders table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    /* padding: var(--card-padding); */
    text-align: center;
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    /* border-bottom: 1px solid var(--color-light); */
    /* color: var(--color-dark-variant); */
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
}

/* RIGHT */
.right .recent-updates {
    background: var(--color-white);
    /* padding: var(--card-padding); */
    border-radius: var(--card-border-radius);
    /* box-shadow: var(--box-shadow); */
    transition: all 300ms ease;
    /* margin-top: 1rem; */
}

.right .recent-updates .updates .update {
    display: grid;
    grid-template-columns: 2.6rem auto;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* Website ANALYTICS */
.right .web-analytics {
    margin-top: 2rem;
}

.right .web-analytics .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
}

.right .web-analytics .item .right {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0;
    width: 100%;
}

.right .web-analytics .item .icon {
    padding: 1rem;
    color: var(--color-white);
    border-radius: 50%;
    background: var(--color-primary);
    display: flex;
}

/* PRODUCTS */
.products .box-container {
    grid-template-columns: repeat(auto-fit, 220px);
}

.deactivate-product {
    color: black;
    display: block;
    text-align: center;
    align-items: center;
    line-height: 40px;
    margin: 0 8px 8px 0;
    font-size: 18px;
    border-radius: 50%;
    border: 1px solid var(--deep-blue);
    position: absolute;
    height: 40px;
    width: 40px;
    right: -20px;
    top: -10px;
    cursor: pointer;
}

.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    border-color: #24262b;
    justify-content: center;
    padding-bottom: 2%;
}

.gallery .box-container .box {
    position: relative;
    border: 1px solid #dfe1e5;
    background-color: #f4f4f4;
    border-radius: .5rem;
    margin: 0.5rem;
}

.gallery .box-container .image-container img {
    background-color: white;
    object-fit: contain;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;

}

.page-info {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: var(--marging-1);
}

.pagination a {
    border: solid 1px var(--color-primary);
    padding: 8px 16px;
    background-color: var(--color-primary-light);
    transition: background-color 0.3s ease;
}

.pagination a.active {
    background-color: black;
    color: #fff;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: 1fr;
    }

    header .profile-area button.menu-btn {
        display: block;
        background: transparent;
        color: var(--color-dark);
    }

    header .wrapper {
        width: 94%;
        grid-template-columns: 7rem auto;
    }

    .wrapper {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main.two-columns {
        grid-template-columns: 1fr;
    }

    main .insights {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

}

@media screen and (max-width: 768px) {
    .wrapper {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main,
    .two-columns {
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    header img.logo {
        width: 20rem;
    }

    header .profile-area i {
        font-size: 1.5rem;
        border-radius: 50%;
        background-color: var(--color-white);
        padding: 10px;
    }

    header .profile-area .user-img {
        width: 3rem;
        height: 3rem;
    }

    .login-form .container,
    .set-new-password-form .container {
        position: fixed;
        width: auto;
        margin: 1%;
    }

    .container .right .profile .info {
        display: none;
    }

    .container .right .top button {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .container .right .top button i {
        font-size: 2rem;
    }

    .products .box-container {
        grid-template-columns: repeat(auto-fit, 180px);
    }

    /* Pagination */
    .pagination a {
        padding: 5px 10px;
    }

    @media screen and (max-width: 574px) {
        .products .box-container {
            grid-template-columns: repeat(auto-fit, 150px);
        }
    }

}