/* ROOT VARAIBLES */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #ccc;
    --color-gray-dark: #56555e;
    --color-gray-super-light: #e5e5e5;
    --color-dark: #27282f;
    --color-primary: rgb(0, 52, 85);
    --color-secondary: rgb(184, 124, 80);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(0, 52, 82, 0.1);
    --color-primary-dark: #734523;
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

.wrapper {
    border: 1px solid var(--color-gray-super-light);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: calc(100% - 1em);
    max-width: 50rem;
    max-height: 50rem;
    border-radius: 1em;
    text-align: center;
    padding: 0.8em 1.5em 1em;
}

dialog form {
    text-align: left;
    margin-left: 5%;
    position: relative;
}

dialog form input[type="text"],
dialog form input[type="file"],
dialog form input[type="number"],
dialog form input[type="email"],
dialog form input[type="password"] {
    height: 3rem;
}

dialog form .input-container {
    margin-bottom: 1.5rem;
}

dialog form p {
    margin-top: 0.5rem;
}

dialog form h2 {
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

dialog form input[type="text"] {
    margin-right: 0.5rem;
    height: 3rem;
    color: #24262b;
}

dialog form input[type="text"],
dialog form input[type="file"],
dialog form input[type="number"],
dialog form input[type="email"],
dialog form input[type="password"],
textarea {
    font-size: 1.2rem;
    background: #fff;
    /* outline: none; */
    padding: .6rem;
    border: 1px solid var(--color-gray-light);
    width: 85%;
    transition: border 0.3s ease;
}

.login-form input {
    box-shadow: none;
}

dialog form input:focus,
dialog form textarea:focus {
    border: 1px solid var(--color-primary);
}

dialog form textarea {
    min-height: 100px;
    resize: vertical;
}

.size-button {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid var(--color-gray-light);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.size-button:hover {
    background-color: #ddd;
}

.size-button.selected {
    background-color: #333;
    color: #fff;
}

/* Column */
.two-column td {
    padding: 0.5rem;

}

/* Button */
.btn {
    display: inline-block;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--color-primary);
    text-transform: capitalize;
    padding: 10px 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-full {
    background-color: var(--color-primary);
    color: white;
    border: 1px solid var(--color-primary);
}

.btn-full:hover {
    background-color: var(--color-primary-dark);
    /* Darker shade for hover */
}

.btn-outline-primary {
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn.login {
    width: 70px;
}

.btn-outline-gray {
    background-color: #f0f0f0;
    color: #555555;
    border: 1px solid #555555;
}

.btn-outline-warning {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
}


.controls button {
    /* background: var(--color-gray-light); */
    /* color: white; */
    /* font-size: 18px; */
    /* border-radius: 5px; */
    /* border: 1px solid var(--color-gray-light); */
    padding: auto 50px;
}

.controls {
    text-align: center;
}

.controls .btn {
    display: inline-block;
}

.controls .deactivate {
    margin-left: 20px;
    background: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.controls .cancel:hover {
    transition: .5s;
    background: #8c8c8c;
}

.controls .deactivate:hover {
    transition: .5s;
    background: #e60000;
}

/* LOGIN */
.login-form form {
    margin-left: 0;
}

.login-form .wrapper,
.set-new-password-form .wrapper {
    width: 90%;
    margin: 0 auto;
}

.login-form .logo-container,
.set-new-password-form .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: var(--color-primary);
    border-radius: 1rem 1rem 0 0;
}

.login-form img,
.set-new-password-form img {
    padding: 1rem;
}

.login-form form,
.set-new-password-form form {
    padding: 30px 25px 25px 25px;
}

.login-form .input-container,
.set-new-password-form .input-container {
    position: relative;
    width: 100%;
}

.login-form .input-field,
.set-new-password-form .input-field {
    height: 45px;
    position: relative;
    margin-bottom: 0.5rem;
}

.login-form .input-field input,
.set-new-password-form .input-field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid var(--color-gray-dark);
    font-size: 16px;
}

.login-form .input-field input:focus,
.set-new-password-form .input-field input:focus {
    border: 1px solid var(--color-primary);
}

.login-form .input-field i,
.set-new-password-form .input-field i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: var(--color-white);
    font-size: 1.5rem;
    background: var(--color-primary);
    border: 1px var(--color-primary) solid;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .pass,
.set-new-password-form .pass {
    margin: -1rem 0 1rem 0;
}

.login-form .pass a,
.set-new-password-form .pass a {
    color: var(--color-primary);
    font-size: 1.4rem;
    text-decoration: none;
}

.login-form .signup-link,
.set-new-password-form .signup-link {
    text-align: center;
    margin-top: 20px;
}

.login-form .signup-link a,
.set-new-password-form .signup-link a {
    color: var(--color-primary);
    font-size: 18px;
    text-decoration: none;
}

.login-form .signup-link a:hover,
.set-new-password-form .signup-link a:hover {
    text-decoration: underline;
}

.mini-alert {
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.9);
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

/* sup */
sup {
    color: var(--color-primary);
    font-size: 2rem;
}

/* NAV BAR */
header {
    width: 100%;
    background: var(--color-primary);
    padding: 1rem 0;
}

header .wrapper {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    border: none;
    margin: 0 auto;
}

header .mobile-wrapper {
    display: none;
    justify-content: center;
    align-items: center;
}

.mobile-navbar {
    display: flex;
    width: auto;
}

.navbar,
.mobile-navbar {
    display: flex;
    width: auto;
}

.navbar ul,
.mobile-navbar ul {
    width: 100%;
}

.navbar ul li,
.mobile-navbar ul li {
    display: inline-block;
    transition: all 0.5s ease;
    cursor: pointer;
    margin-right: 2rem;
    overflow: hidden;
}

.navbar i,
.navbar span {
    color: var(--color-white);
    margin-right: 1rem;
}


.navbar ul li a,
.mobile-navbar ul li a {
    color: var(--color-white);
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
}

#menuIcon {
    display: none;
}

header .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

header .profile-area .user-img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

header .profile-area img.login {
    display: none;
}

header .profile-area i {
    display: flex;
    font-size: 1.7rem;
    cursor: pointer;
    background-color: var(--color-white);
    padding: 1.2rem;
    border-radius: 50%;
}

.profile-menu {
    position: absolute;
    background: #fff;
    top: 100%;
    right: 5px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 10px 10px;
    text-align: center;
    width: 25rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
    z-index: 999;
}

.profile-menu.active {
    transform: scale(1.0);
    transition: .2s linear;
}

.user-info {
    display: flex;
    align-items: center
}

.user-info h4 {
    font-weight: 500;
}

.user-info img {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.profile-menu-link p {
    width: 100%;
    text-align: left;
}

.profile-menu-link i {
    font-size: 20px;
    display: inline-block;
    background: #e5e5e5;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
}

.profile-menu-link span {
    font-size: 22px;
    margin-right: 20px;
    transition: transform 0.5s;
}

.profile-menu-link:hover span {
    transform: translatex(5px);
}

.profile-menu-link:hover p {
    font-weight: 600;
}


table {
    width: 100%;
}


table th {
    color: var(--color-white);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-primary);
}

/* td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
} */

/* tbody tr:nth-child(even) {
    background-color: black;
} */

tbody tr:hover {
    background-color: #fff6;
}

table,
th,
td {
    padding: 1rem;
}

table {
    padding-top: 0;
}

thead th {
    position: sticky;
    top: 0;
    Left: 0;
}

/* Title */
.title {
    position: relative;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.title .left {
    display: flex;
    flex-wrap: nowrap;
}

.title .left p {
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--color-primary);
    border-radius: 5px;
    padding: 5px 7px;
    margin-left: 10px;
}

.title .right {
    display: flex;
}

.title .right img {
    height: 20px;
    vertical-align: middle;
}

.title .right p {
    display: flex;
    align-items: center;
    white-space: pre;
}

.title .right .more {
    margin: 0;
    display: flex;
    /* align-items: center; */
}

.title .right i {
    margin-right: 5px;
}

/* Delete Confirm Dialog */
#delete-confirm-dialog i {
    font-size: 60px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

#delete-confirm-dialog label {
    font-size: 23px;
    color: #404040;
}

#delete-confirm-dialog .controls {
    margin: 40px 0 0 0;
}

.breadcrumbs {
    padding: 10px 25px;
    width: fit-content;
    /* font-size: 1.2rem; */
    margin: 20px auto;
    margin-left: 7.5%;
    border-radius: 5px;
    background-color: white;
    border: 1px solid var(--color-gray-super-light);
}

.breadcrumbs h3 {
    font-weight: 500;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
}

.breadcrumbs ul i {
    width: 20px;
    vertical-align: middle;
    margin: 0 10px;
}

.breadcrumbs ul li a:hover {
    border-bottom: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.breadcrumbs ul li:last-child a {
    color: var(--color-primary);
    border: none;
    pointer-events: none;
}

/* .add-edit-table-container */
.add-edit-table-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.add-edit-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.add-edit-table th,
.size-table td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
}

.add-edit-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.add-edit-table td {
    white-space: nowrap;
}



/* Category Box */
.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    border-color: #24262b;
    justify-content: center;
    padding-bottom: 2%;
    margin: 0 40px;
}

.category .box-container .box {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #dfe1e5;
    /* border-radius: 5px; */
    margin: 0.5rem;
    min-height: 10vh;
    transition: transform 0.3s ease;
}

.category .box-container .box:hover {
    border: 1px solid var(--color-primary);
}

.category .box-container .box .image-container {
    position: relative;
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category .box-container .image-container img {
    object-fit: contain;
    width: auto;
    height: 100%;
}

.info-container .name-field {
    text-align: center;
    margin: 1rem;
}

.info-container {
    padding: 10px;
}

/* .category .info-container h4 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
} */

/* .category .info-container p {
    font-size: 16px;
    color: #666;
} */

/* Empty Message */
.empty {
    grid-column: span 3;
    text-align: center;
    margin: 20px auto;
    width: auto;
}

/* !!!!!!!!!!!! */
.empty p {
    padding: 3%;
}

.empty img {
    width: 30%;
    max-width: 300px;
}


.empty button {
    /* margin: ; */
    width: 50%;
}

.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    border-color: #24262b;
    justify-content: center;
    padding-bottom: 2%;
}

.products .box-container .box {
    position: relative;
    border: 1px solid #dfe1e5;
    background-color: #f4f4f4;
    border-radius: .5rem;
    margin: 0.5rem;
    min-height: 10vh;
}

.products .box-container .box .info-container {
    padding: 1rem;
}

.products .box-container .box:hover {
    border: 1px var(--color-primary) solid;
}

.products .box-container .box .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .box-container .image-container img {
    background-color: var(--color-gray-light);
    object-fit: contain;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.products .box-container .name {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.products .box-container .price-size-container {
    display: flex;
}

.products .box-container .price-size-container .price {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

/* Product Details */
.product-detail .wrapper {
    background-color: var(--color-white);
}

.product-details {
    position: relative;
    max-width: 80vw;
    border-radius: 20px;
    /* background-color: white; */
}

.product-details p {
    line-height: 30px;
    margin-bottom: 30px;
}

.product-actions input[type="number"] {
    width: 60px;
}


.product-detail .product-details-container {
    margin: 2rem 0;
}

.product-detail .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: .3em;
    padding: 0px;
    margin: 0;
}

.product-container .picture-div {
    display: flex;
    border-radius: 8px;
    margin: 0 0 1rem 1rem;
    border: 1px solid var(--color-gray-super-light);
}

.product-container .product-image {
    width: 85%;
}

#picture {
    padding: 1rem 0.5rem 1rem 1rem;
    object-fit: cover;
}

.thumbnails {
    width: auto;
    padding: 1rem 1rem 1rem 0.5rem;
}

.thumbnails img {
    margin-bottom: 1rem;
    display: inline-block;
    border: 1px solid var(--color-gray-light);
}

.thumbnails img:hover,
.thumbnails img.active {
    border: 1px solid var(--color-primary);
}

.product-info {
    padding: 1.2em;
}

/* Select */
.select-field {
    display: flex;
    justify-content: center;
    position: relative;
    width: 85%;
    height: 45px;
    margin-bottom: 0.5rem;
}

.select-box {
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: white;
    background-color: #001a4a;
    font-size: 20px;
}

.select-field .icon-container {
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #023ca9;
}

.icon-container i {
    font-size: 1.5rem;
    color: white;
}

/* Confirm Dialog */
#confirm-dialog {
    width: 400px;
    background: #f2f2f2;
    padding: 30px;
    border: 1px solid #b3b3b3;
    z-index: 9999;
}

#confirm-dialog form {
    margin-left: 0;
    text-align: center;
    align-items: center;
}

#confirm-dialog i {
    font-size: 7rem;
    color: #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

#confirm-dialog label {
    font-size: 1.2rem;
    color: #404040;
}

#confirm-dialog .controls {
    margin: 40px 0 0 0;
}

#confirm-dialog .controls .cancel,
#confirm-dialog .controls .confirm {
    background: #999999;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #808080;
    padding: 10px 13px;
}

#confirm-dialog .controls .confirm {
    margin-left: 20px;
    background: #ff3333;
    border: 1px solid #cc0000;
}

#confirm-dialog .controls .cancel:hover {
    transition: .5s;
    background: #8c8c8c;
}

#confirm-dialog .controls .confirm:hover {
    transition: .5s;
    background: #e60000;
}

@media screen and (max-width: 1200px) {
    /* .title {
        justify-content: space-between;
    } */
}

@media screen and (max-width: 768px) {
    /* .title {
        justify-content: space-between;
    } */

    header .profile-area i {
        font-size: 1.5rem;
        background-color: var(--color-white);
        padding: 10px;
    }

    header .profile-area .profile img {
        width: 3.4rem;
        height: 3.4rem;
    }

}

@media screen and (max-width: 574px) {
    header .profile-area img.login {
        display: flex;
        width: 3rem;
        height: 3rem;
    }

    header .wrapper .profile-area .btn {
        display: none;
    }

    #menuIcon {
        display: none;
    }

    header .profile-area i {
        display: none;
    }

    header .mobile-wrapper {
        margin-top: 10px;
        display: flex;
    }

    .breadcrumbs {
        padding: 5px 10px;
        margin-left: 3%;
    }

}