/* ROOT VARAIBLES */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(144, 88, 47);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

/* NAV BAR */
header {
    width: 100%;
    background: var(--color-primary);
    padding: 1rem 0;
}

/* Title */
.title {
    position: relative;
    margin: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}

.title .left {
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
}

.title .left p {
    font-size: 15px;
    align-self: self-end;
    margin-bottom: 20px;
    align-items: end;
    color: white;
    background-color: var(--deep-blue);
    border-radius: 4px;
    padding: 3px 7px;
}

.title .right img {
    height: 20px;
    vertical-align: middle;
}

.title .right p {
    margin-right: 0;
}

.title .right .more {
    position: relative;
    top: 25px;
}

.title .right i {
    margin-left: 5px;
}

/* Delete Confirm Dialog */
#delete-confirm-dialog i {
    font-size: 60px;
    color: #eb9447;
    border: 5px solid #eb9447;
    padding: 20px 40px;
    border-radius: 50%;
    margin: -10px 0 20px 0;
}

#delete-confirm-dialog label {
    font-size: 23px;
    color: #404040;
}

#delete-confirm-dialog .controls {
    margin: 40px 0 0 0;
}

.controls .cancel,
.controls .deactivate {
    background: var(--color-gray-light);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid var(--color-gray-light);
    padding: 10px 13px;
}

.controls .deactivate {
    margin-left: 20px;
    background: var(--color-danger);
    border: 1px solid #cc0000;
}

.controls .cancel:hover {
    transition: .5s;
    background: #8c8c8c;
}

.controls .deactivate:hover {
    transition: .5s;
    background: #e60000;
}

.breadcrumbs {
    padding: 10px 25px;
    /* padding: 10px 48px; */
    width: fit-content;
    margin: 20px auto;
    margin-left: 5%;
    border-radius: 5px;
    background-color: white;
}

.breadcrumbs ul {
    display: flex;
    align-items: center;
}

.breadcrumbs ul span {
    width: 20px;
    vertical-align: middle;
    margin: 0 10px;
}

.breadcrumbs ul li a:hover {
    border-bottom: 2px solid #21409a;
    color: #21409a;
}

.breadcrumbs ul li:last-child a {
    color: var(--deep-blue);
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .title {
        display: flex;
    }

    .title .left {
        max-width: 100%;

    }

    @media screen and (max-width: 768px) {
        .title {
            display: flex;
        }

    }
}