ROOT VARAIBLES:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-super-light: #e5e5e5;
    --color-dark: #27282f;
    --color-primary: rgb(0, 52, 85);
    --color-secondary: rgb(184, 124, 80);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);

    --color-primary-light: rgba(0, 52, 82, 0.1);
    --color-primary-dark: rgba(144, 88, 47);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    --box-shadow: 0 0 10px rgb(0 0 0/15%);
}

body {
    font-family: 'Roboto', serif;
}


.container {
    max-width: 85%;
    margin: 3rem auto;
}

.aside-main {
    display: grid;
    /* width: 96%; */
    gap: 1.8rem;
    grid-template-columns: 20rem auto;
}

aside {
    margin: var(--marging-1);
    height: 82vh;
    overflow-y: scroll;
}

aside::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

aside::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 4px;
}

aside::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    border: 2px solid #f0f0f0;
}

aside::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

aside::-webkit-scrollbar-button {
    background-color: #ccc;
    display: none;
}

aside::-webkit-scrollbar-corner {
    background-color: #f0f0f0;
}

aside button#close-btn {
    display: none;
}

aside .sidebar ul li a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);

}

aside .sidebar ul li .count {
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 5px;
}

/* #pending-order-count {
    display: none;
} */

aside .sidebar a i,
aside .sidebar a span,
aside .sidebar a svg {
    font-size: 1.7rem;
    margin-left: 3rem;
}

aside .sidebar ul ul {
    display: none;
    padding: 0 0 1rem 1rem;
}

aside .sidebar a.active {
    background: var(--color-white);
    color: var(--color-primary);
}

aside .sidebar a.active::before {
    content: "";
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

aside .sidebar h4 {
    font-weight: 500;
}

.wrapper {
    border-radius: var(--card-border-radius);
}

.login-form {
    border-radius: var(--card-border-radius);
}

.login-form img {
    width: 100px;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 35rem;
    /* z-index: 1000; */
}

.slider {
    height: 550px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow);
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 1500px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}

.slider .dots li.active {
    width: 30px;
}

/* Header */
header {
    box-shadow: var(--box-shadow);
}

header .wrapper {
    width: 90%;
}

header img.logo {
    width: 35rem;
}

.btn.login {
    background-color: var(--color-gray-super-light);
    color: black;
}

/* Footer */
.footer {
    padding: 2rem 0;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
}

.footer .wrapper {
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    border: none
}

.footer img {
    width: 300px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--red_brown);
    margin-bottom: 2rem;
    /* justify-content: space-between; */
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col:nth-child(1) {
    width: 30%;
    padding: 0 15px;
}

.footer-col:nth-child(3) {
    width: 20%;
    padding: 0 15px;
}


.footer-col h3 {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}

.footer-col ul,
.footer-col ul li a,
.copyright p {
    color: white;
    font-size: 14px;
}

.footer-col ul li a {
    display: flex;
}

.footer-col ul li {
    display: flex;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-col ul li i {
    align-items: center;
    margin-right: 10px;
}

.footer-col .social-links a {
    color: white;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .social-links a i {
    font-size: 35px;
}

.copyright {
    text-align: center;
}

/* Products */
.products .wrapper {
    background-color: var(--color-white);
}

.products .box-container {
    grid-template-columns: repeat(auto-fit, 250px);
}

.back-to-top {
    background: var(--deep-blue);
    position: fixed;
    bottom: 200px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: white;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: opacity .4s;
}

.back-to-top.active {
    opacity: 1;
    pointer-events: auto;
}

/* Product Detail */
.product-info input[type="number"] {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid var(--color-gray-light);
}

.size-chart .wrapper {
    background-color: var(--color-white);
}

/* Shopping Cart */
.shopping-cart .wrapper {
    background-color: var(--color-white);
}

/* .shopping-cart table {
    width: 100%;
} */

.shopping-cart table img {
    width: 150px;
}

.shopping-cart table .deleted-product-image {
    opacity: 0.7;
    width: 150px;
}

.shopping-cart .image-container {
    position: relative;
}

.shopping-cart .discontinued-text {
    position: absolute;
    top: 40px;
    left: 10px;
    color: black;
    font-size: 14px;
    text-align: center;
}

/* .shopping-cart thead th {
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--deep-blue);
    color: white;
    text-transform: capitalize;
} */

/* .shopping-cart td {
    font-size: 1rem;
    color: black;
    border-bottom: 1px solid #ccc;
    text-align: center;
} */

.shopping-cart .product-name {
    text-align: left;
    padding-left: 10px;
}

.shopping-cart .add,
.shopping-cart .reduce,
.shopping-cart input[type="text"] {
    height: 40px;
    float: left;
}

.shopping-cart .add,
.shopping-cart .reduce {
    width: 22px;
    border: 1px solid var(--color-primary);
    background: white;
    cursor: pointer;
}

.shopping-cart .add {
    border-radius: 10% 0 0 10%;
    margin-left: 15%;
}

.shopping-cart .reduce {
    border-radius: 0 10% 10% 0;
}

.shopping-cart input[type="text"] {
    text-align: center;
    border: 1px solid var(--color-primary);
    border-left: none;
    border-right: none;
}

.shopping-cart input[type="checkbox"] {
    height: 16px;
    width: 16px;
}

.shopping-cart .controls {
    position: relative;
    display: flex;
    margin: 30px auto;
    padding: 0 20px;
    line-height: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    width: 90%;
}

.shopping-cart .controls input[type="checkbox"] {
    margin-left: 4%;
}

.shopping-cart .controls label {
    margin-left: 10px;
    cursor: pointer;
}

.shopping-cart .controls label,
.shopping-cart .controls a {
    font-weight: bold;
}

.shopping-cart .controls p,
.shopping-cart .controls a {
    margin-left: 5%;
}

.shopping-cart .controls .pay {
    position: absolute;
    right: -1px;
    padding: 17.5px 20px;
    background: var(--color-primary);
    color: #fff;
    font-weight: bold;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.shopping-cart .controls .total-price {
    font-weight: bold;
}

/* Scrollable Tabs */

.scrollable-tabs-container {
    background: #f4f4f4;
    max-width: 1140px;
    margin: 16px 40px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.scrollable-tabs-container svg {
    width: 35px;
    height: 35px;
    padding: 8px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
    pointer-events: auto;
}

.scrollable-tabs-container ul {
    display: flex;
    gap: 16px;
    padding: 12px 24px;
    margin: 0;
    list-style: none;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.scrollable-tabs-container ul.dragging a {
    pointer-events: none;
}

.scrollable-tabs-container ul.dragging {
    scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar {
    display: none;
}

.scrollable-tabs-container button {
    border: 1px solid #cccccc;
    color: black;
    text-decoration: none;
    background: white;
    padding: 7px 24px;
    display: inline-block;
    border-radius: 4px;
    user-select: none;
    white-space: nowrap;
}

.scrollable-tabs-container button.active {
    background: var(--color-secondary);
    color: white;
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
    position: absolute;
    height: 100%;
    width: 100px;
    top: 0;
    display: none;
    align-items: center;
    padding: 0 10px;
    pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active {
    display: flex;
}

.scrollable-tabs-container .right-arrow {
    right: 0;
    background: linear-gradient(to left, rgb(230, 230, 230) 50%, transparent);
    justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow {
    background: linear-gradient(to right, rgb(230, 230, 230) 50%, transparent);
}

.scrollable-tabs-container svg:hover {
    background: #333;
}

/* Purchase History */
.purchase .wrapper {
    background-color: white;
}

/* Media */
@media screen and (max-width: 1200px) {
    header img.logo {
        width: 30rem;
    }

    .container {
        max-width: 90%;
    }

    .slider {
        height: 400px;
    }

    /* .navbar.navactive {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        border-radius: .5rem;
        top: 90px;
        width: 60%;
        height: 150px;
        left: 0;
        padding: 20px;
        transform: translateX(50%);
        box-shadow: var(--box-shadow);
        z-index: 1000;
    }

    .navbar ul {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .navbar ul li {
        display: block;
        margin: 10px 0;
        width: 100%;
        color: black;
        text-align: left;
    }

    .navbar ul li a,
    .navbar ul li span,
    .navbar ul li i {
        color: black;
        text-decoration: none;
    }

    #menuIcon {
        display: flex;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
        background-color: var(--color-white);
    } */

    .footer-col,
    .footer-col:nth-child(1),
    .footer-col:nth-child(3) {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 768px) {
    header .wrapper {
        width: 95%;
    }

    .navbar {
        display: none;
    }

    .slider {
        height: 300px;
    }

    .container {
        max-width: 90%;
        margin: 2rem auto;
    }

    .footer .wrapper {
        width: 95%;
    }

    header img.logo {
        width: 25rem;
    }

    .footer-col,
    .footer-col:nth-child(1),
    .footer-col:nth-child(3) {
        width: 100%;
    }
}

@media(max-width: 574px) {
    .container {
        max-width: 95%;
        margin: 1rem auto;
    }

    /* Header */
    header img.logo {
        width: 22rem;
    }

    header .wrapper .profile-area .btn {
        display: none;
    }

    /* Slider */
    .slider {
        height: 250px;
        border-radius: 5px;
    }

    .slider .buttons button {
        width: 25px;
        height: 25px;
    }

    /* Bookshop Product */
    .products .box-container {
        grid-template-columns: repeat(auto-fit, 165px);
    }
}