#okbtn{
    background: #6989a8;
    color: whitesmoke;
    padding: 20px 40px 20px 40px;
    font-size: 22px;
    border-radius: 10px;
}
#btn{
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 90px;
    padding-right: 100px;
    font-size: 48px;
    background: rgba(0, 52, 85, 0.514);
    color:whitesmoke;
    border-radius: 5px;
}
#btn :hover{
    cursor: pointer;
}
#btn:active{
    opacity: 95%;
}
#btn1{
    margin-top: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 48px;
    background: rgba(0, 52, 85, 0.514);
    color: whitesmoke ;
    border-radius: 5px;
}
#btn1 :hover{
    cursor: pointer;
}
#btn1:active{
    opacity: 95%;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.top-bar h1{
    margin-left: -20px;
    margin-top: -5px;
}
.top-bar #add{
    margin-left: 100px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(0, 52, 85, 0.514);
    color: whitesmoke ;
    font-size: 20px;
    border-radius: 5px;
    user-select: none  ;
    flex-wrap: wrap;
}
.top-bar #add :hover{
    cursor: pointer;
}
.top-bar #add:active{
    opacity: 95%;
}
.eventBox{
    margin-left: 300px;
    margin-top: 50px;
    background: #6989a8;
    margin-right: 300px;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 10px;
}
.eventBox p{
    position: relative;
    margin: 0;
    color: whitesmoke;
    font-size: 22px;
}
.eventBox:hover{
    opacity: 95%;
}
.eventBox:active{
    opacity: 90%;
}
.eventBox row{
    display: flex;
    flex-direction: row;
}
.eventBox #name{
    font-size: 30px;
    padding-top: 100px;
    margin-left: 20px;
}
.eventBox #time{
    margin-left: 20px;
    flex: 1;
}
.eventBox #place{
    flex: 1;
}
.eventBox #row{
    justify-content: flex-end;
}
.eventBox #row1{
    justify-content: flex-start;
}
.eventBox #date{
    margin-right: 20px;
    margin-top: 20px;
}
.eventBox #desc{
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px ;
}
.center-container {
    display: flex;              /* Enables Flexbox */
    flex-direction: column;     /* Arrange children in a column */
    justify-content: center;    /* Center items vertically */
    align-items: center;        /* Center items horizontally */
    height: 60vh;              /* Full viewport height */
    text-align: center;         /* Center text inside container */
}
  
.center-image {
    max-width: 100%; /* Ensure the image scales responsively */
}
.center-text {
    margin-top: 10px;  /* Adds some spacing between the image and text */
    font-size: 28px;   /* Adjusts the font size for the text */
    color: #6989a8;       /* Sets the text color */
    margin-top: -30px;
  }

.bigflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5px;
}

.bigflex box1{
    background-color: #6989a8;
    color: whitesmoke;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}
.bigflex box1 row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.bigflex box1 row label{
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}
.bigflex box1 row input[type=text]{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.bigflex box1 row input[type=date]{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 22px;
    border-radius: 10px;
}
.bigflex box1 row button{
    margin-top: 20px;
    background: #2f56809e;
    color: whitesmoke;
    border-radius: 10px;
    font-size: 22px;
    padding: 10px 40px 10px 40px;
}
.bigflex box1 row button:hover{
    opacity: 90%;
}
.bigflex box1 row button:active{
    opacity: 80%;
}
.bigflex box1 row column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.bigflex box1 row column row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bigflex box1 row column row row1{
    justify-content: center;
}
.bigflex box1 row column row input[type=checkbox]{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}
.bigflex box1 row column textarea{
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
}
.topB{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.topB a{
    user-select: none;
    margin-right: 100px;
}
.topB #back{
    margin-top: 20px;
}
.topB #add{
    margin-top: -10px;
}
.topB #block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mealBox{
    margin-left: 400px;
    margin-top: 25px;
    background: #6989a8;
    margin-right: 400px;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.mealBox row #meal{
    font-size: 30px;
    color: whitesmoke;
}
.formDialog h1{
    font-size: 35px;
}
.formDialog i{
    font-size: 35px;
}
.formDialog #btn1{
    padding: 20px 40px 20px 40px;
    font-size: 20px;
}
.formDialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formDialog div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* This is 1028px responsive */
@media only screen and (max-width: 1280px){

}