/* ROOT VARAIBLES */
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(144, 88, 47);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgba(71, 7, 234, 0.2);
    --color-success-light: rgba(34, 202, 75, 0.2);
    --color-danger-light: rgba(255, 67, 54, 0.2);
    --color-purple-light: rgba(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;

    /* --box-shadow: 0 0 10px rgb(0 0 0/15%); */
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background: var(--color-light);
    font-family: poppins, sans-serif;
    min-height: 100vh;
    color: var(--color-dark);
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}
p {
    font-size: 1rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem;
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}
/* NAV BAR */
nav {
    width: 100%;
    background: var(--color-primary);
    padding: 1rem 0;
    box-shadow: rgb(179, 172, 168) 0px 0px 15px -4px;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    position: relative;
    border: none;
    width: 95%;
    margin: 0 auto;
}

nav img.logo {
    width: 30rem;
}

nav .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

}

nav .profile-area .user-img {
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

nav .profile-area i {
    display: block;
    font-size: 1.7rem;
    background: #f3f5f7;
    height: 4rem;
    width: 4rem;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

nav .profile-area button {
    display: none;
}

.profile-menu {
    position: absolute;
    background: #fff;
    top: 90px;
    right: 5px;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 10px 10px;
    text-align: center;
    width: 20rem;
    transform: scale(0);
    transform-origin: top right;
    line-height: 2;
    z-index: 999;
}

.profile-menu.active {
    transform: scale(1.0);
    transition: .2s linear;
}


.user-info {
    display: flex;
    align-items: center
}

.user-info h4 {
    font-weight: 500;
}

.user-info img {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.profile-menu-link p {
    width: 100%;
    text-align: left;
}

.profile-menu-link i {
    font-size: 20px;
    display: inline-block;
    width: 60px;
    background: #e5e5e5;
    /* margin:0 10px 10px 0; */
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    /* color: #ffffff; */
    margin-right: 20px;
    margin-left: 20px;
}

.profile-menu-link span {
    font-size: 22px;
    margin-right: 20px;
    transition: transform 0.5s;
}

.profile-menu-link:hover span {
    transform: translatex(5px);
}

.profile-menu-link:hover p {
    font-weight: 600;
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 20rem auto;
}

.wrapper {
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-light);
    transition: all 300ms ease;
}

.category .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
    border-color: #24262b;
    justify-content: center;
    padding-bottom: 2%;
    margin: 0 40px;
}


.category .box-container .box {
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid #dfe1e5;
    /* border-radius: 5px; */
    margin: 0.5rem;
    min-height: 10vh;
    transition: transform 0.3s ease;
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: calc(100% - 1em);
    max-width: 60rem;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    text-align: center;
    padding: 0.8em 1.5em 1em;
}

form {
    text-align: left;
    margin-left: 2rem;
    position: relative;
}

form input {
    height: 2rem;
}

form p {
    color: #999;
}

form h2 {
    text-transform: capitalize;
}

form input,
textarea {
    font-size: 1.2rem;
    background: #fff;
    outline: none;
    padding: .6rem;
    box-shadow: var(--box-shadow);
    margin: .5rem 0;
    border: 1px solid #ddd;
    width: 85%;
    transition: border 0.3s ease;
}

form input:focus,
form textarea:focus {
    border: 1px solid var(--color-primary);
}

form input {
    height: 50px;
}

form textarea {
    min-height: 100px;
    resize: vertical;
}

.box1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 40px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: rgba(144, 87, 47, 0.175);
    border-radius: 5px;
    color: rgb(156, 67, 82);
    box-shadow: rgba(179, 172, 168, 0.55) 0px 0px 15px -4px;
}
.modal{
    position: fixed;
    margin-left: 0px;
    margin-right: 400px;
    max-width: 80ch;
    margin-top: -50px;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 5px;
    color: rgb(156, 67, 82);
    box-shadow: rgba(179, 172, 168, 0.55) 0px 0px 15px -4px;
    border-color: #999;
    background-color: whitesmoke;
}
.name {
    margin-top: 25px;
}
#name {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    font-size: 25px;
    color: #767676;
}
.Phone{
    margin-top: 10px;
}
#phone{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    font-size: 25px;
    color: #767676;
}
.Email{
    margin-top: 10px;
}
#email{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    font-size: 25px;
    color: #767676;
}
.Company{
    margin-top: 10px;
}
#company{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 35%;
    font-size: 25px;
    color: #767676;
}
.Purpose{
    margin-top: 10px;
}
#purpose{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 92%;
    font-size: 25px;
    color: #767676;
}
.Plate{
    float: right;
    position: absolute;
    margin-left: 600px;
    margin-top: -445px;
}
#plate{
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 130%;
    font-size: 25px;
    color: #767676;
}
.Visit{
    float: right;
    position: absolute;
    margin-left: 600px;
    margin-top: -330px;
}
#visit{
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 130%;
    font-size: 25px;
    color: #767676;
}
.Date{
    float: right;
    position: absolute;
    margin-left: 600px;
    margin-top: -330px;
}
#date{
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 130%;
    font-size: 25px;
    color: #767676;
}
.People{
    float: right;
    position: absolute;
    margin-left: 600px;
    margin-top: -220px;
}
#people{
    margin-top: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 130%;
    font-size: 25px;
    color: #767676;
}
#btn{
    margin-left: 415px;
    margin-top: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 20px;
    font-size: 30px;
    background-color: rgb(144, 88, 47);
    color: whitesmoke;
}
#btn:hover{
    cursor: pointer;
}
#btn:active{
    opacity: 90%;
}
#btn1{
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 25px;
    border-radius: 20px;
    background-color: rgb(144, 88, 47);
    color: whitesmoke;
}
#btn1:hover{
    cursor: pointer;
}
#btn1:active{
    opacity: 90%;
}
